#Display {
  margin: 50px 0 0 0;
  padding: 20px;
  height: 100px;
  display: flex;
  border-radius: 5px 5px 0 0;
  align-items: center;
  background-color: peru;
  color: #fff;
  font-weight: bold;
  font-size: 2rem;
  justify-content: flex-end;
}
